@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: linear-gradient(to bottom, #0F172A, #1E3A8A);
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #17254D;
    height: auto;
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
}